.rh-menu-list {
    &--component {
        @extend %layout-min-stacked;
        @include bp-styles( hide ) {
            display: none;
            margin-bottom: 15px;
        }
    }
	&-header {
        @include bp-styles( toggle-visuals ) {
            margin-bottom: 0;
            &:hover {
                cursor: pointer;
            }
            &:before {
                content: "+ ";
                color: color(black);
                @include data-context(theme, dark) {
                    color: color(white);
                }
                display: inline-block;
            }
            > * {
                display: inline-block;
            }
        }
        &-title {
            font-family: $base-font-family;
            color: color(black);
            text-transform: uppercase;
            font-weight: 900;
            font-size: .9em;
            margin: 0;
            @include data-context(theme, dark) {
                color: color(white);
            }
        }
	}
    &-links {
        @extend %list-flush-no-styles;
        @include bp-styles( toggle-target ) {
            display: none;
            margin-left: 15px;
        }
    }
	&-items {
        line-height: 1;
        margin-bottom: 8px;
        &-link {
            @extend %footer-link;
        }
	}

}
