/* VARIABLES */
:root {
  /* Color variables */
  /* -- gray tones */
  --color-black: #151515;
  --color-coal: #40474F;
  --color-misty: #ccc;
  --color-iron: #d2d3d5;
  --color-gallery: #f0f0f0;
  --color-white: #fff;
  --color-blue-light: #def3ff;
  --color-blue: #0066cc;
  --color-blue-dark: #002235;
  --color-cyan-light: #005f60;
  --color-cyan: #003737;
  --color-red: #c9190b;
}

/* Define Overpass font */
@font-face {
    font-family: Overpass;
    src: url("/resources/fixtures/fonts/overpass_regular-web.eot");
    src: url("/resources/fixtures/fonts/overpass_regular-web.eot?#iefix") format("eot"),
         url("/resources/fixtures/fonts/overpass_regular-web.woff") format("woff"),
         url("/resources/fixtures/fonts/overpass_regular-web.ttf") format("truetype"),
         url("/resources/fixtures/fonts/overpass_regular-web.svg#webfontLTZe4IYH") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Overpass;
    src: url("/resources/fixtures/fonts/overpass_bold-web.eot");
    src: url("/resources/fixtures/fonts/overpass_bold-web.eot?#iefix") format("eot"),
         url("/resources/fixtures/fonts/overpass_bold-web.woff") format("woff"),
         url("/resources/fixtures/fonts/overpass_bold-web.ttf") format("truetype"),
         url("/resources/fixtures/fonts/overpass_bold-web.svg#webfontzAU82Ltw") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Overpass;
    src: url("/resources/fixtures/fonts/overpass_light-webfont.eot");
    src: url("/resources/fixtures/fonts/overpass_light-webfont.eot?#iefix") format("eot"),
         url("/resources/fixtures/fonts/overpass_light-webfont.woff") format("woff"),
         url("/resources/fixtures/fonts/overpass_light-webfont.ttf") format("truetype"),
         url("/resources/fixtures/fonts/overpass_light-webfont.svg#webfontzAU82Ltw") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: Chunkfive;
  src: url( 'Chunkfive.otf' );
}

@import url(print.css);

body {
    font-size: 16px;
    font-family: "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  color: var(--color-cyan-light);
  font-weight: 400;
}
h1, .h1 {
  color: var(--color-cyan);
}
h1, .h1, h2, .h2 {
  font-weight: 600;
}
a {
  color: var(--color-cyan-light);
}
a:hover,
a:focus {
  color: var(--color-cerulean);
}
iframe {
    border: none;
}

.page-header h1,
.page-header h2 {
  display: inline-block;
}

.page-header h2 {
  text-transform: uppercase;
  font-weight: 100;
  margin-left: 20px;
  font-size: 1.5em;
}


/* MENU STYLES */
.navbar {
  padding: 0;
}
.nav-item.dropdown:hover {
    background-color: var(--color-coal);
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    max-height: 85vh;
    overflow: scroll;
    border-radius: 0;
    top: calc(100% - 1px);
    min-width: 300px;
    box-shadow: 2px 1px 2px var(--color-iron);
}
.dropdown-toggle::after {
    border: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: .7em;
    content: "\f078";
    vertical-align: baseline;
    height: auto;
    width: auto;
}
.show .dropdown-toggle::after {
    content: "\f077";
}
.dropdown-item {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.dropdown-item.active {
  background-color: var(--color-gallery);
  color: var(--color-coal);
  text-decoration: underline;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--color-iron);
}
.dropdown-item.active:focus,
.dropdown-item.active:hover {
    cursor: default;
}

/* Editor tabsets */
.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link {
  color: var(--color-coal);
}

.nav-tabs .nav-link.active {
  border-bottom: 3px solid var(--color-cyan-light);
  margin-bottom: -1px;
}

#display_holder {
  width: 100%;
}

.direct_link_holder {
  position: fixed;
  bottom: 0;
  background: #fff;
  padding: 10px 5px;
  width: 100%;
}

/* Styles for the pattern preview tool */
.sg-snippet-preview {
  position: relative;
  margin: 20px auto;
}

.sg-snippet-resize-handle {
  height: 100px;
  width: 20px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.sg-snippet:hover .sg-snippet-resize-handle {
  opacity: 1;
  visibility: visible
}

.sg-snippet-resize-handle::before {
  background: url('../img/icon-drag.svg') no-repeat;
  position: absolute;
  top: 50%;
  content: '';
  height: 17px;
  margin-top: -8px;
  width: 8px
}

.sg-snippet-resize-handle.pos-right,
.sg-snippet-resize-handle.pos-left {
  background: rgba(192, 194, 196, 0.2);
  height: 100%;
  top: 0;
  margin: 0;
}

.sg-snippet-resize-handle.pos-right::before,
.sg-snippet-resize-handle.pos-left::before {
  top: min(50%, 50vh);
}

.sg-snippet-resize-handle.pos-right {
  border-right: 1px solid #ccc;
  left: -40px;
  cursor: e-resize;
}

.sg-snippet-resize-handle.pos-right::before {
  left: 6px
}

.sg-snippet-resize-handle.pos-left {
  border-left: 1px solid #ccc;
  right: -40px;
  cursor: w-resize;
}

.sg-snippet-resize-handle.pos-left::before {
  right: 8px
}