{% extends '_pattern-kit-app.twig' %}




{% block navigation %}
  {% include 'navigation.twig' with nav only %}
{% endblock %}


{% block left %}
  {% include 'iframe-holder.twig' %}
{% endblock %}


{% block right %}

  {% set json_data %}
    <div id="json_holder">
      <h2>Data</h2>
      <div class="valid"></div>
      <pre></pre>
    </div>
  {% endset %}

  {% set twig_template %}
    <pre><code>{{template_markup}}</code></pre>
  {% endset %}

  {% set tabs_data = {
      'tabs': [
        {
          'title': 'Docs',
          'content': 'Docs Go Here',
          'active': true
        },
        {
          'title': 'Schema Editor',
          'content': '<div id="editor_holder"></div>',
          'active': false
        },
        {
          'title': 'JSON Data',
          'content': json_data,
          'active': false
        },
        {
          'title': 'Twig Template',
          'content': twig_template,
          'active': false
        }
      ]
    }
  %}

 {% include 'editor-tabs.twig' with tabs_data %}

  <div class="direct_link_holder well">
    <a id="direct_link" class="btn btn-primary " href="">Create link to this data</a><br>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
  var data = {};
  data.schema = {{schema|raw}};
  data.starting = {{starting|raw}};
</script>
{% endblock %}
