
<ul class="nav nav-pills nav-stacked">
    {% for item in nav_by_order  | sortbyfield( 'order' ) %}
    <li>
        <a href="{{ item.path ? path( 'styleguide', { pattern: item.path } ): path( 'styleguide-home' ) }}" role="button" aria-expanded="false">
        {{ item.title }}
        </a>
    </li>
  {% endfor %}
</ul>

