

<div>
    <blockquote>
        <p>{{quotation}}</p>
        <footer>
            <span>{{attribution_name}}</span>{% if attribution_title %}, {{attribution_title}}{% endif %}
        </footer>
    </blockquote>
</div>
