/*doc
---
title: Listing Table
category: Layout - Listing Table
name: 03-listing-table
---



Listing-table-layout provides a method of grouping multiple components or layouts into a row. Listing-table-layout simply supplies a container with padding, border and theme option which changes the background of the row.

###Theme options

```inline
[data-rh-theme="light"]
[data-rh-theme="light gray"]
[data-rh-theme="dark"]
```


{% include "listing-table-data.html"  %}

```container_toggle
{% include "listing-table.html" with data %}
```



*/

/*doc
---
title: Listing Table API
category: Layout - Listing Table
name: 03-listing-table-api
---


```inline
template: listing-table.html
data: {
  rows: [
    {
      theme: 'string',
      template: 'string',
      content: 'string',
    }
  ]
}
```

*/
